<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Вход</title>
</head>

<body>
  <header class="header container">
    <a class="navbar-brand" href="main">Банк</a>
  </header>

  <main>
    <div class="auth-container container">
      <h1 class="greeting">Здравствуйте</h1>
      <h2 class="auth-title">Вход</h2>
      <form id="auth-form" class="auth-form" method="post" action="/login">
        <input type="text" name="username" id="username" class="input" placeholder="Логин/телефон" required>
        <input type="password" name="password" id="password" class="input" placeholder="Пароль" required>
        <a href="#" class="link" id="forget-password-link">Забыли пароль?</a>
        <div id="error-msg" class="error-msg" hidden></div>
        <button type="submit" id="auth-button" class="main-btn">Войти</button>
      </form>
    </div>
  </main>

  <script type="module" src="./static/js/login.js"></script>
</body>
</html>