<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="#" />
  <link href="/static/css/style.css" rel="stylesheet">
  <title>Главная</title>
</head>

<body>
  <div id="spinner" style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; display: flex; justify-content: center; 
  align-items: center; background: #fcfcfc; z-index: 9999;">
    <div class="spinner-grow text-primary" role="status" style="width: 3rem; height: 3rem; background-color: #f67737;">
      <span class="visually-hidden">Загрузка...</span>
    </div>
  </div>

  <div class="modal fade" id="logout-modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Подтверждение действия</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Выйти из аккаунта?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="secondary-btn modal-dismiss-btn" data-bs-dismiss="modal" autofocus>Отмена</button>
          <a href="logout" role="button" class="btn btn-danger btn-link">Выйти</a>
        </div>
      </div>
    </div>
  </div>

  <header class="header container-md">
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand nav-link" href="main">Банк</a>
      <div class="profile-actions">
        <a href="profile" class="nav-link"><i class="fa fa-user" aria-hidden="true"></i><label id="profile-login"></label></a>
        <a class="nav-link" data-bs-toggle="modal" data-bs-target="#logout-modal"><i class="fa fa-sign-out fa-flip-horizontal p-0" aria-hidden="true"></i></a>
      </div>
    </div>
    </nav>   
  </header>

  <main>
    <div class="toast position-fixed mt-3 top-0 start-50 translate-middle-x" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="1500">
      <div class="toast-header">
        <strong class="me-auto" id="toast-header"></strong>
        <small>Только что</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body" id="toast-body">
      </div>
    </div>

    <div class="main-container container-md">
      <section class="section-card">
        <h2>Кошелек</h2>
        <div class="wallet-layout">
          <ul id="card-list" class="card-list"></ul>
          
          <aside class="fast-actions">
            <h3 class="fast-actions-title">Быстрые действия</h3>
            <div class="fast-actions-list">
              <a href="transfer?type=EXTERNAL" class="secondary-btn btn-link" role="button">Перевод</a>
              <a href="transfer?type=INTERNAL" class="secondary-btn btn-link" role="button">Перевод между своими</a>
              <a href="balance-deposit" class="secondary-btn btn-link" role="button">Пополнить баланс</a>
            </div>
          </aside>
        </div>
      </section>

      <section class="section-recent section-history col">
        <div class="history-header">
          <h2>Последняя активность</h2>
          <a href="history" class="link">Вся история</a>
        </div>
        <ul id="recent-list" class="col-auto"></ul>

        <a href="/history" class="main-btn mt-4 d-flex mx-auto btn-link" id="history-btn">Вся история</a>
      </section>
    </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script type="module" src="/static/js/main.js"></script>
</body>
</html>