<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Регистрация</title>
</head>
<body>
    <header class="auth-header">
        <span class="logo-img"></span>
        <h1 class="logo-title">Банк</h1>
    </header>

    <main class="main">
        <div class="autn-container">
            <h2 class="auth-title">Здравствуйте! Зарегистрируйтесь по номеру телефона и паролю</h2>
            <form class="autn-form" th:action="@{/signin}" th:object="${newClient}" method="post">
                <div class="input-group-lg">
                    <input type="tel" name="phone" id="phone" placeholder="Номер телефона" required
                        th:field="*{phone}">
                    <input type="text" name="username" id="username" class="auth-input" placeholder="Логин" required
                       th:field="*{username}">
                    <input type="password" name="password" id="password" class="auth-input" placeholder="Пароль" required
                       th:field="*{password}">

                    <button type="submit" id="auth-button" class="btn-lg auth-button">Зарегистрироваться</button>
                </div>
            </form>

            <a href="login" class="auth-link">Войти</a>
        </div>
    </main>

    <footer class="auth-footer">
    </footer>

</body>
</html>