<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Новый перевод</title>
</head>
<body>
    <header class="main-header">
        <div class="container-logo">
            <a th:href="main">
                <span class="logo-img"></span>
                <h2 class="logo-title">Банк</h2>
            </a>
        </div>

        <div class="container-actions">
            <a th:href="profile"><span class="profile-img">пр</span></a>
            <a th:href="logout"><span class="logout-img"></span>лг</a>
        </div>
    </header>

    <main>
        <aside class="aside-menu">
            <nav>
                <ul class="aside-list">
                    <li class="aside-item">
                        <a th:href="main"><span class="main-img"></span>Главная</a>
                    </li>
                    <li class="aside-item">
                        <a th:href="transfer"><span class="transfer-img"></span>Перевести</a>
                    </li>
                    <li class="aside-item">
                        <a href="#"><span class="analitics-img"></span>Аналитика</a>
                    </li>
                </ul>
            </nav>
        </aside>

        <div class="main-container">
            <div class="transfer-container">
                <h1>
                    <span class="transfer-img"></span>Новый перевод
                </h1>

                <form class="input-form" th:object="${newTransfer}">
                    <h2>Получатель</h2>
                    <input type="text" name="receiver" id="receiver" class="form-control"
                           placeholder="Номер телефона или карты" required>
                    <h3>Карта списания</h3>
                    <select name="senderCard" id="senderCard">
                        <option th:each="card : ${cards}" th:value="${card.cardNumber}" th:text="${card.cardNumber}">
                        </option>
                    </select>
                    <input type="number" name="amount" id="amount" class="form-control"
                           placeholder="Сумма перевода" required>
                    <input type="text" name="description" id="description" class="form-control"
                           placeholder="Сообщение получателю">


                    <button type="submit">Отправить</button>
                </form>
            </div>
        </div>
    </main>

    <footer class="main-footer">
    </footer>
</body>
</html>