<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
  <link href="../static/css/style.css" rel="stylesheet">
  <title>Новый перевод</title>
</head>

<body>
  <div class="toast position-fixed mt-3 top-0 start-50 translate-middle-x" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="1500">
    <div class="toast-header">
      <strong class="me-auto" id="toast-header"></strong>
      <small>Только что</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body" id="toast-body">
    </div>
  </div>

  <header class="header container">
    <nav class="navbar navbar-expand-lg">
      <a class="navbar-brand nav-link" href="main">Банк</a>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title">Меню</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="main" class="nav-link">Главная</a>
            </li>
            <li class="nav-item">
              <a href="transfer" class="nav-link">Перевести</a>
            </li>
            <li class="nav-item">
              <a href="analitics" class="nav-link">Аналитика</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="side-actions">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="profile-actions">
        <a href="logout"><i class="fa fa-sign-out fa-flip-horizontal" aria-hidden="true"></i></a>
        <a href="profile"><i class="fa fa-user" aria-hidden="true"></i></a>
      </div>
    </div>
    </nav>   
  </header>

  <main>
    <div class="main-container container">
      <div class="transfer-container">
        <h2>Новый перевод</h2>
        <div class="container">
          <form id="transfer-form" class="row">
            <div class="transfer-field col-12 col-md-5">
              <h3>Получатель</h3>
              <input type="text" name="receiver" id="receiver" placeholder="Номер телефона/карты" required>
              <div data-error-for="receiver" class="error-msg" hidden></div>
            </div>
            <div class="col-md-1 d-flex align-items-center justify-content-center">
              <i class="fa fa-exchange" aria-hidden="true"></i>
            </div>
            <div class="transfer-field col-12 col-md-5">
              <h3>Карта списания</h3>
              <select name="sender" id="sender-cards-select" required></select>
              <div data-error-for="sender" class="error-msg" hidden></div>
            </div>
            <div class="transfer-field col-12 col-md-5">
              <h3>Сумма перевода</h3>
              <input type="text" pattern="[0-9. ]*" name="amount" id="amount" required>
              <div data-error-for="amount" class="error-msg" hidden></div>
              <div class="amout-btns-row">
                <button type="button" class="secondary-btn amount-btn">500₽</button>
                <button type="button" class="secondary-btn amount-btn">1 000₽</button>
                <button type="button" class="secondary-btn amount-btn">1 500₽</button>
              </div>
            </div>
            <div class="col col-md-1"></div>
            <div class="col-12 col-md-5">
              <h3>Комментарий</h3>
              <input type="text" name="description" id="description">
            </div>
          
            <div class="col">
              <p id="commission-amount">Комиссия: 0₽</p>
              <button type="submit" class="main-btn" id="transfer-btn">Перевести</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script type="module" src="/static/js/transfer.js"></script>
</body>
</html>